{% extends 'adminmaster.html'%}
{% load static %} {% block content %} 
<head>
    <title>Active students</title>
</head>
<body>
   <div class="container-fluid">
       <table class="table table-striped">
           <h4 class="text-center">Active Students</h4>
            <thead>
                <tr>
                   <th>ID</th>
                   <th>Username</th>
                   <th>Name</th>
                   
                   
                </tr>
           </thead>
           <tbody>
                
                {% for stud in active %} 
               <tr>
                    
                   <td>{{stud.id}}</td>
                   
                   <td>{{std.username}}</td>
                  
                   <td>{{stud.name}}</td>
                   
                <td><a href="{%url 'inactivate' stud.id %}"><button class="btn btn-info">Inactivate</button></a></td>
               </tr>
               {% endfor %}
           </tbody>
       </table>
   </div> 


{% endblock %}
</body>